<form (ngSubmit)="onJoin()" [formGroup]="form" class="lobby">
	<label>
		Name
		<input formControlName="name" placeholder="Your name" />
	</label>
	@if (form.controls.name.invalid && form.controls.name.touched) {
		<div class="error">Name is required.</div>
	}
	<label>
		Game ID (optional)
		<input formControlName="gameId" placeholder="Alphanumeric ID (optional)" />
	</label>

	@if (form.controls.gameId.invalid && form.controls.gameId.touched) {
		<div class="error">Game ID must be alphanumeric.</div>
	}

	<button [disabled]="loading() || form.invalid" type="submit">
		@if (loading()) {
			<ng-container>Joining...</ng-container>
		} @else {
			<ng-container>Join</ng-container>
		}
	</button>

	@if (error()) {
		<div class="error">{{ error() }}</div>
	}
</form>
